.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.h1 {
    color: blue;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-decoration: none;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.card {
    border-radius: 10px;
    padding: 30px;
    width: 600px;
}

